body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
}

h1, h2 {
    color: #333;
    text-align: center;
}

form {
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form input, form button {
    display: block;
    width: 96%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    background: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #218838;
}

ul {
    list-style-type: disc;
    padding: 0 20px 0 20px;
}

li {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li span {
    flex-grow: 1; 
}

.liButton {
    margin-left: 10px;
    background: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.liButton:hover {
    background: #c82333;
}
